div.container {
    text-align: center;
}

h1.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
}

div.hero-head {
    background-color: mediumpurple;
}

div.hero-foot {
    background-color: mediumpurple;
}